.account-name-filters, .transaction-type-filters {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.account-name-filters span, .transaction-type-filters span {
    margin-bottom: 8px;
}

.filters {
    width: 250px;
    padding: 16px;
}

.filters h2 {
    font-size: 18px;
    margin: 0 0 8px;
}

.filters > div {
    background-color: #EEEEEE;
    padding: 8px;
    margin-bottom: 8px;
}

.filters > div > h3 {
    margin: 0 0 16px;
    font-size: 16px;
}